//COLORS
$color-primary: #55c57a;
$color-primary-light: #9ad458;
$color-primary-dark: #2d8b45;
$color-grey-dark: rgba(61, 57, 57, 0.842);
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;
$color-grey-light-1: #dfdbdbfd;
$color-grey-light-2: rgb(185, 185, 185);
$color-white: #fff;
$color-black: #000;

$color-secondary-light: #fbb800;
$color-secondary-dark: #fb7730;

$color-tertiary-light: #29c2ff;
$color-tertiary-dark: #5643fa;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONTS
$default-font-size: 1.6rem;
